@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

                            <div class="tab-pane fade" id="v-pills-destekler" role="tabpanel" aria-labelledby="v-pills-destekler-tab">

                                <h3 style="margin-bottom: 20px;">Yarışmacılara Sağlanan Olanaklar</h3>

                                <div class="accordion mb-3" id="accordionExample">







                                    <div class="card-collapse" data-toggle="collapse" data-target="#collapseOne31" aria-expanded="true" aria-controls="collapseOne31">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0 accordion-icon">
                                                <button class="btn btn-link sss" type="button" data-toggle="collapse" data-target="#collapseOne31" aria-expanded="true" aria-controls="collapseOne">
                                          <p style="font-weight: 700;font-family: &#39;Poppins&#39;, sans-serif; text-align:left; font-size: 18px; color:#fff; margin:0;">DENEYAP</p>
                                      </button>
                                                <i class="fas fa-chevron-down" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></i>
                                            </h2>
                                        </div>

                                        <div id="collapseOne31" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="accordion-menu-2">
                                                    <ul>
                                                        <li><strong>DENEYAP ŞUBELERİNDE PROJELERİNİ ANLATMA FIRSATI</strong><br> Milli teknoloji geliştirme yolunda eğitim gören genç nesillere geliştirdiğiniz projeleri anlatma ve onlara ilham olma fırsatı
                                                            sağlanmaktadır.
                                                            <br> &nbsp;
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>






                                    <div class="card-collapse" data-toggle="collapse" data-target="#collapseOne32" aria-expanded="true" aria-controls="collapseOne32">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0 accordion-icon">
                                                <button class="btn btn-link sss" type="button" data-toggle="collapse" data-target="#collapseOne32" aria-expanded="true" aria-controls="collapseOne">
                                          <p style="font-weight: 700;font-family: &#39;Poppins&#39;, sans-serif; text-align:left; font-size: 18px; color:#fff; margin:0;">DESTEK PROGRAMI</p>
                                      </button>
                                                <i class="fas fa-chevron-down" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></i>
                                            </h2>
                                        </div>

                                        <div id="collapseOne32" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="accordion-menu-2">
                                                    <ul>
                                                        <li><strong>MALZEME DESTEĞİ İLE PROJELERİNİ HAYATA GEÇİRME FIRSATI</strong><br> Binlerce gencin projesine destek olmak için ön eleme aşamasını geçen takımlara toplamda 5 Milyon TL'nin üzerinde malzeme
                                                            desteği sağlanmaktadır.<br> &nbsp;
                                                        </li>
                                                        <li><strong>ULAŞIM / KONAKLAMA DESTEĞİ</strong><br> Finalist takımlara TEKNOFEST Teknoloji Yarışmaları için ulaşım/konaklama desteği sağlanmaktadır.<br> &nbsp;
                                                        </li>
                                                        <li><strong>ÖDÜLLER</strong><br> TEKNOFEST&nbsp;Teknoloji Yarışmaları`nda&nbsp;&nbsp;yarışıp dereceye girmeye hak kazanan takımlara 5 Milyon TL'nin üzerinde ödüller beklemektedir.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>






                                    <div class="card-collapse" data-toggle="collapse" data-target="#collapseOne33" aria-expanded="true" aria-controls="collapseOne33">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0 accordion-icon">
                                                <button class="btn btn-link sss" type="button" data-toggle="collapse" data-target="#collapseOne33" aria-expanded="true" aria-controls="collapseOne">
                                          <p style="font-weight: 700;font-family: &#39;Poppins&#39;, sans-serif; text-align:left; font-size: 18px; color:#fff; margin:0;">EĞİTİM</p>
                                      </button>
                                                <i class="fas fa-chevron-down" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></i>
                                            </h2>
                                        </div>

                                        <div id="collapseOne33" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="accordion-menu-2">
                                                    <ul>
                                                        <li><strong>EĞİTİM KAMPI PROGRAMI</strong><br> Yürütücü kurum ve danışma kurulu üyelerinin katılımıyla finalist takımlara, projelerini destekleyecek eğitim programları düzenlenecektir.<br> &nbsp;
                                                        </li>
                                                        <li><strong>SORU-CEVAP TOPLANTILARI</strong><br> Yürütücü kurum ve danışma kurulu üyelerinin katılımıyla yarışmacılara projeleri, yarışma süreci, değerlendirme kriterleri ve süreci hakkında danışma kuruluna
                                                            sorular yönlendirebildiği fikir alış-verişleri yapılabilen toplantılar planlanacaktır.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>






                                    <div class="card-collapse" data-toggle="collapse" data-target="#collapseOne34" aria-expanded="true" aria-controls="collapseOne34">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0 accordion-icon">
                                                <button class="btn btn-link sss" type="button" data-toggle="collapse" data-target="#collapseOne34" aria-expanded="true" aria-controls="collapseOne">
                                          <p style="font-weight: 700;font-family: &#39;Poppins&#39;, sans-serif; text-align:left; font-size: 18px; color:#fff; margin:0;">KARİYER</p>
                                      </button>
                                                <i class="fas fa-chevron-down" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></i>
                                            </h2>
                                        </div>

                                        <div id="collapseOne34" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="accordion-menu-2">
                                                    <ul>
                                                        <li><strong>STAJ İMKÂNI</strong><br> Türkiye’nin önde gelen teknoloji kurumlarında staj imkanları sağlanacaktır.<br> &nbsp;
                                                        </li>
                                                        <li><strong>ULUSLARARASI YARIŞMALARA YÖNLENDİRME VE DESTEK PROGRAMLARI</strong><br> Türkiye Teknoloji Takımı Vakfı tarafından yürütülen Teknolojinin Milli Takımları Destek Programı kapsamında takımlara
                                                            uluslararası yarışmalardan haberdar etme, gerekli malzeme desteğini sağlamaktan ve ulaşım/ konaklama destekleri sağlanacaktır.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>






                                    <div class="card-collapse" data-toggle="collapse" data-target="#collapseOne30" aria-expanded="true" aria-controls="collapseOne30">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0 accordion-icon">
                                                <button class="btn btn-link sss" type="button" data-toggle="collapse" data-target="#collapseOne30" aria-expanded="true" aria-controls="collapseOne">
                                          <p style="font-weight: 700;font-family: &#39;Poppins&#39;, sans-serif; text-align:left; font-size: 18px; color:#fff; margin:0;">TEKNİK GEZİ</p>
                                      </button>
                                                <i class="fas fa-chevron-down" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></i>
                                            </h2>
                                        </div>

                                        <div id="collapseOne30" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="accordion-menu-2">
                                                    <ul>
                                                        <li><strong>FİRMALARI TANIMA FIRSATI</strong><br> Türkiye’deki önde gelen teknoloji firmalarına Teknik Geziler düzenleyerek orada yapılan çalışmaları yerinde inceleme fırsatı sağlanmaktadır.<br> &nbsp;
                                                        </li>
                                                        <li><strong>NETWORK KAZANIMI</strong><br> Teknik gezilerde ve birçok firmaya ev sahipliği yapan TEKNOFEST’te her alanda uzman kişileri tanıma fırsatı sağlanmaktadır.<br> &nbsp;
                                                        </li>
                                                        <li><strong>FİRMALARDA İŞ VE MESLEK YAŞAMI HAKKINDA BİLGİ SAHİBİ OLMAK</strong><br> Teknik gezilerde iş ve meslek yaşamı hakkında uzman mühendisler ile birebir tanışma fırsatı ve sorular sorma imkanı
                                                            sağlanmaktadır.
                                                            <br> &nbsp;
                                                        </li>
                                                        <li>
                                                            <p><strong>MOTİVASYON VE İLGİ ARTTIRMA</strong><br> Teknik gezilerde, teknoloji firmalarında çalışmış bilgi ve deneyime sahip kişilerden birebir tecrübelerini anlatma ve motivasyon arttırma fırsatı
                                                                sağlanmaktadır.
                                                            </p>

                                                            <p><br> &nbsp;
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>





                                </div>



                            </div>