@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
           <div class="tab-pane fade" id="v-pills-eskirapor" role="tabpanel" aria-labelledby="v-pills-eskirapor-tab">

                                <h3 style="margin-bottom: 20px;">Geçmiş Yıl Raporları</h3>

                                <div class="accordion mb-3" id="accordionExample">


                                    <div class="card-collapse" data-toggle="collapse" data-target="#collapseOne3202" aria-expanded="true" aria-controls="collapseOne3202">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0 accordion-icon">
                                                <button class="btn btn-link sss" type="button" data-toggle="collapse" data-target="#collapseOne3202" aria-expanded="true" aria-controls="collapseOne">
                                          <p style="font-weight: 700;font-family: &#39;Poppins&#39;, sans-serif; text-align:left; font-size: 18px; color:#fff; margin:0;">2021</p>
                                      </button>
                                                <i class="fas fa-chevron-down" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></i>
                                            </h2>
                                        </div>

                                        <div id="collapseOne3202" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">





                                                <a href="https://kys-bucket.s3.amazonaws.com/upload/userFormUpload/Ds6qmauJczDZOl90F7wvBlWsCUzFpvtx.pdf" target="_blank">
                                                    <div class="accordion-menu-2">1-HELİKOPTER TASARIM YARIŞMASI()FTR</div>
                                                </a>










                                                <a href="https://kys-bucket.s3.amazonaws.com/upload/userFormUpload/z9hHbepkhlHGcehDLX3ygwxEpo6dGh30.pdf" target="_blank">
                                                    <div class="accordion-menu-2">2-HELİKOPTER TASARIM YARIŞMASI()FTR</div>
                                                </a>










                                                <a href="https://kys-bucket.s3.amazonaws.com/upload/userFormUpload/4aaa4mf4RicLUf8xSjH4kJRUDzdJHm8R.pdf" target="_blank">
                                                    <div class="accordion-menu-2">3-HELİKOPTER TASARIM YARIŞMASI()FTR</div>
                                                </a>










                                                <a href="https://kys-bucket.s3.amazonaws.com/upload/userFormUpload/JPnvbxpawMDKtsopOgOFwuZko5vWWpbQ.pdf" target="_blank">
                                                    <div class="accordion-menu-2">4-HELİKOPTER TASARIM YARIŞMASI()FTR</div>
                                                </a>










                                                <a href="https://kys-bucket.s3.amazonaws.com/upload/userFormUpload/F0A19fKag5w1RiPhhTa98LIpaWuWJgt5.pdf" target="_blank">
                                                    <div class="accordion-menu-2">5-HELİKOPTER TASARIM YARIŞMASI()FTR</div>
                                                </a>










                                                <a href="https://kys-bucket.s3.amazonaws.com/upload/userFormUpload/x0F0nVXSqTiHhD6cjbYAP4VjdYs6FUIH.pdf" target="_blank">
                                                    <div class="accordion-menu-2">6-HELİKOPTER TASARIM YARIŞMASI()FTR</div>
                                                </a>










                                                <a href="https://kys-bucket.s3.amazonaws.com/upload/userFormUpload/YDh46Isyfw4QS998b6xPNMN0AtpRJwRP.pdf" target="_blank">
                                                    <div class="accordion-menu-2">7-HELİKOPTER TASARIM YARIŞMASI()FTR</div>
                                                </a>










                                                <a href="https://kys-bucket.s3.amazonaws.com/upload/userFormUpload/8sTvSULjsxmOFnYX6T8b8eQds77M1qjK.pdf" target="_blank">
                                                    <div class="accordion-menu-2">8-HELİKOPTER TASARIM YARIŞMASI()FTR</div>
                                                </a>










                                                <a href="https://kys-bucket.s3.amazonaws.com/upload/userFormUpload/xopOp1tOEwGjG7WSek8Js4yeqWNuRXnu.pdf" target="_blank">
                                                    <div class="accordion-menu-2">9-HELİKOPTER TASARIM YARIŞMASI()FTR</div>
                                                </a>










                                                <a href="https://kys-bucket.s3.amazonaws.com/upload/userFormUpload/MVaJLeiGRDSLJWwuceGT8RBICRoC5hJ1.pdf" target="_blank">
                                                    <div class="accordion-menu-2">10-HELİKOPTER TASARIM YARIŞMASI()FTR</div>
                                                </a>










                                                <a href="https://kys-bucket.s3.amazonaws.com/upload/userFormUpload/N35mg6AnxjA6KEIvIfJwrSPgCkubXo9I.pdf" target="_blank">
                                                    <div class="accordion-menu-2">11-HELİKOPTER TASARIM YARIŞMASI()FTR</div>
                                                </a>










                                                <a href="https://kys-bucket.s3.amazonaws.com/upload/userFormUpload/tokzcteQALfMEbsvvGn4Wyht1Uxf5Djb.pdf" target="_blank">
                                                    <div class="accordion-menu-2">12-HELİKOPTER TASARIM YARIŞMASI()FTR</div>
                                                </a>










                                                <a href="https://kys-bucket.s3.amazonaws.com/upload/userFormUpload/XetoWPuArocQln26NM0k5be31Hi0H5yM.pdf" target="_blank">
                                                    <div class="accordion-menu-2">13-HELİKOPTER TASARIM YARIŞMASI()FTR</div>
                                                </a>










                                                <a href="https://kys-bucket.s3.amazonaws.com/upload/userFormUpload/KUDmzrcfcu7CYm42LyOkS8AsOlSAH9Y2.pdf" target="_blank">
                                                    <div class="accordion-menu-2">14-HELİKOPTER TASARIM YARIŞMASI()FTR</div>
                                                </a>










                                                <a href="https://kys-bucket.s3.amazonaws.com/upload/userFormUpload/313aZmhn2g6RjjD2dFPR7IggS21vGkzP.pdf" target="_blank">
                                                    <div class="accordion-menu-2">15-HELİKOPTER TASARIM YARIŞMASI()FTR</div>
                                                </a>










                                                <a href="https://kys-bucket.s3.amazonaws.com/upload/userFormUpload/WK7mCyBqPmw2tq8Y1eL2Tn6CuTNeSBW8.pdf" target="_blank">
                                                    <div class="accordion-menu-2">16-HELİKOPTER TASARIM YARIŞMASI()FTR</div>
                                                </a>






                                            </div>
                                        </div>
                                    </div>


                                    <div class="card-collapse" data-toggle="collapse" data-target="#collapseOne84" aria-expanded="true" aria-controls="collapseOne84">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0 accordion-icon">
                                                <button class="btn btn-link sss" type="button" data-toggle="collapse" data-target="#collapseOne84" aria-expanded="true" aria-controls="collapseOne">
                                          <p style="font-weight: 700;font-family: &#39;Poppins&#39;, sans-serif; text-align:left; font-size: 18px; color:#fff; margin:0;">2020</p>
                                      </button>
                                                <i class="fas fa-chevron-down" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></i>
                                            </h2>
                                        </div>

                                        <div id="collapseOne84" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                            <div class="card-body">





                                                <a href="https://www.teknofest.org/upload/diger/1-ITU%20BICOPTER.pdf" target="_blank">
                                                    <div class="accordion-menu-2">1-Finalist Raporu</div>
                                                </a>










                                                <a href="https://www.teknofest.org/upload/diger/2-METUChopper.pdf" target="_blank">
                                                    <div class="accordion-menu-2">2-Finalist Raporu</div>
                                                </a>










                                                <a href="https://www.teknofest.org/upload/diger/3-Helly-800.pdf" target="_blank">
                                                    <div class="accordion-menu-2">3-Finalist Raporu</div>
                                                </a>










                                                <a href="https://www.teknofest.org/upload/caa652398283eb2553f54e6b3aa44e050.pdf" target="_blank">
                                                    <div class="accordion-menu-2">4-Finalist Raporu</div>
                                                </a>










                                                <a href="https://www.teknofest.org/upload/caa652398283eb2553f54e6b3aa44e051.pdf" target="_blank">
                                                    <div class="accordion-menu-2">5-Finalist Raporu</div>
                                                </a>










                                                <a href="https://www.teknofest.org/upload/caa652398283eb2553f54e6b3aa44e052.pdf" target="_blank">
                                                    <div class="accordion-menu-2">6-Finalist Raporu</div>
                                                </a>










                                                <a href="https://www.teknofest.org/upload/caa652398283eb2553f54e6b3aa44e053.pdf" target="_blank">
                                                    <div class="accordion-menu-2">7-Finalist Raporu</div>
                                                </a>










                                                <a href="https://www.teknofest.org/upload/b2d3f05cc5151bb65bcf8a3aad4a9c690.pdf" target="_blank">
                                                    <div class="accordion-menu-2">8-Finalist Raporu</div>
                                                </a>










                                                <a href="https://www.teknofest.org/upload/b2d3f05cc5151bb65bcf8a3aad4a9c691.pdf" target="_blank">
                                                    <div class="accordion-menu-2">9-Finalist Raporu</div>
                                                </a>










                                                <a href="https://www.teknofest.org/upload/b2d3f05cc5151bb65bcf8a3aad4a9c692.pdf" target="_blank">
                                                    <div class="accordion-menu-2">10-Finalist Raporu</div>
                                                </a>










                                                <a href="https://www.teknofest.org/upload/b2d3f05cc5151bb65bcf8a3aad4a9c693.pdf" target="_blank">
                                                    <div class="accordion-menu-2">11-Finalist Raporu</div>
                                                </a>










                                                <a href="https://www.teknofest.org/upload/b2d3f05cc5151bb65bcf8a3aad4a9c694.pdf" target="_blank">
                                                    <div class="accordion-menu-2">12-Finalist Raporu</div>
                                                </a>










                                                <a href="https://www.teknofest.org/upload/b2d3f05cc5151bb65bcf8a3aad4a9c695.pdf" target="_blank">
                                                    <div class="accordion-menu-2">13-Finalist Raporu</div>
                                                </a>






                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>