@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
              <div class="tab-pane fade" id="v-pills-galeri" role="tabpanel" aria-labelledby="v-pills-galeri-tab">

                                <div class="container">




                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="galeri-new-head">
                                                <h3>2021</h3>
                                            </div>
                                        </div>



                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/hty1.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/hty1.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/hty2.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/hty2.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/hty3.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/hty3.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/hty4.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/hty4.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/hty5.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/hty5.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/hty6.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/hty6.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/hty7.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/hty7.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-12">
                                            <div class="galeri-new-head">
                                                <h3>2020</h3>
                                            </div>
                                        </div>



                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_001.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_001.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_002.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_002.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_003.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_003.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_004.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_004.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_005.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_005.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_006.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_006.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_007.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_007.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_008.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_008.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_009.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_009.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_010.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_010.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_011.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_011.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_012.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_012.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_013.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_013.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_014.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_014.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_015.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_015.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_016.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_016.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_017.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_017.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_018.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_018.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_019.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_019.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_020.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/helikopter_tasarim_020.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-12">
                                            <div class="galeri-new-head">
                                                <h3>2019</h3>
                                            </div>
                                        </div>



                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/a6127d613b88edac7db324d98230eb49.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/a6127d613b88edac7db324d98230eb49.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/367c59b442b8aa97ca7ead8a879cb4d8.jfif" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/367c59b442b8aa97ca7ead8a879cb4d8.jfif"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/4daec4e4abb3dc5f9b523ada6d7e65ce.jfif" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/4daec4e4abb3dc5f9b523ada6d7e65ce.jfif"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/a69c2c7ac7f2e28c3aaf0f37bafa083d.jfif" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/a69c2c7ac7f2e28c3aaf0f37bafa083d.jfif"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/6f0be7f2f5ef7180b66166f171cadb7f.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/6f0be7f2f5ef7180b66166f171cadb7f.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/61403ae521899c6ad3cbfc22b6a65d47.jfif" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/61403ae521899c6ad3cbfc22b6a65d47.jfif"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/294d8a0fe540bdb4551df42d1c15f38a.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/294d8a0fe540bdb4551df42d1c15f38a.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/def2856f72be22223fe0008e0d5448b8.jpg" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/def2856f72be22223fe0008e0d5448b8.jpg"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/a9dbbfffec20d2a2db6c1f136509dabc.jfif" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/a9dbbfffec20d2a2db6c1f136509dabc.jfif"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/e3d9d17ebd7746951631bb65ea4a3b86.JPG" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/e3d9d17ebd7746951631bb65ea4a3b86.JPG"></a>




                                            </div>

                                        </div>


                                        <div class="col-md-4">
                                            <div class="d-flex justify-content-center galeri">
                                                <a class="example-image-link" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/a299078edc53133bfe7199272404b2a2.JPG" data-lightbox="example-set">


                                                    <i class="fas fa-search-plus"></i>
                                                    <img class="example-image img-fluid" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/a299078edc53133bfe7199272404b2a2.JPG"></a>




                                            </div>

                                        </div>












                                    </div>
                                </div>
                            </div>