@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="tab-pane fade show active" id="v-pills-hakkinda" role="tabpanel" aria-labelledby="v-pills-hakkinda-tab">
    <div class="competition-detail" style="margin-top: 0;">
        <h3>Yarışma Hakkında</h3>
        <div class="gundem_resmi3 FloatLeft"><img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/3ad07d81b69c912837c395edc73eca96.jpg" class="img-fluid hoverZoomLink" border="0"></div>
        <div align="justify" style="text-align:justify; margin-top: -19px;">
            <p style="text-align:justify">TEKNOFEST Teknoloji yarışmaları kapsamında Helikopter Tasarım Yarışması&nbsp;düzenlenmektedir.</p>

            <p style="text-align:justify">TEKNOFEST Helikopter Tasarım Yarışmasına, üniversite ve üzeri öğrencilerin veya mezunların kendi aralarında bir araya gelmesiyle oluşturdukları takımlar başvuru yapabilir. Yarışma takımları grup ya da bireysel olabilir.</p>

            <p style="text-align:justify">
                Bu yarışmanın amacı;&nbsp;mevcut marketteki hava araçları ile kıyaslandığında performans özellikleri, satın alınabilirlik ve işletilebilirlik açısından daha rekabetçi olabilecek hafif sınıf 5 koltuklu (pilot dâhil)
                bir helikopterin kavramsal tasarımının ortaya konmasıdır.<br> Yarışma kapsamında toplam 2&nbsp;adet rapor hazırlanacaktır. Bunlar&nbsp; “Ön&nbsp;Tasarım Raporu” ve “Final Tasarım Raporu” şeklinde olacaktır.
            </p>

            <p style="text-align:justify">
                Şartnamede verilen bilgiler haricinde, yarışma hakkında sormak istediğiniz diğer sorular için <a href="https://groups.google.com/u/1/g/helikopter-tasarim-yarismasi">HELİKOPTER TASARIM YARIŞMASI</a> linkinden ilgili
                mail grubuna üye olmanız gerekmektedir. Soracağınız sorular ve bu sorulara verilecek olan cevaplar, mail grubunun diğer üyelerinin de görebileceği şekilde açık olacaktır. Yarışmacıların hazırlamaları gereken
                raporlara ilişkin şablonlar ilerleyen tarihte TEKNOFEST web sitesi üzerinden duyurulacaktır.
            </p>

            <p style="text-align:justify"><strong>Yarışma Son Başvuru Tarihi 15 MART!</strong></p>

            <br>
            <div class="col-md-12 mt-3">
                <a href="https://www.teknofest.org/yarisma-detaylar-35.html#" target="_blank">
                    <button type="button" class="btn btn-primary btn-lg btn-block">
                        <img style="margin-top: -11px; margin-right: 10px;" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/document2.png"> BAŞVURU SÜRESİ DOLMUŞTUR.
                    </button>
                </a>
            </div>


        </div>
    </div>
</div>