@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}                            <div class="tab-pane fade" id="v-pills-takvim" role="tabpanel" aria-labelledby="v-pills-takvim-tab">
    <div class="team-data" style="margin-top: 0;">
        <table class="table" style="color: #183059;">
            <tbody>
                <tr>
                    <th scope="col">Açıklama</th>
                    <th scope="col">Tarih</th>
                </tr>
                <tr>
                    <th>Yarışma Son Başvuru Tarihi</th>
                    <th>15 Mart 2021</th>

                </tr>
                <tr>
                    <th>Ön Tasarım Raporu Son Teslim Tarihi</th>
                    <th>15 Nisan 2021</th>
                </tr>
                <tr>
                    <th>Ön Tasarım Raporu Sonuçlarının Açıklanması</th>
                    <th>11 Mayıs 2021</th>
                </tr>
                <tr>
                    <th>Final Tasarım Raporu Son Teslim Tarihi</th>
                    <th>30 Haziran 2021</th>
                </tr>
                <tr>
                    <th>Final Tasarım Raporu Sonuçlarının Duyurulması ve Finale Kalan Takımların Açıklanması</th>
                    <th>16-18 Temmuz 2021</th>
                </tr>
                <tr>
                    <th>TEKNOFEST</th>
                    <th>21-26 Eylül 2021</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>