@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="tab-pane fade" id="v-pills-sorular" role="tabpanel" aria-labelledby="v-pills-sorular-tab">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="accordion mb-3" id="accordionExample">



                        <div class="card-collapse" data-toggle="collapse" data-target="#collapseOne58" aria-expanded="true" aria-controls="collapseOne58">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0 accordion-icon">
                                    <button class="btn btn-link sss" type="button" data-toggle="collapse" data-target="#collapseOne58" aria-expanded="true" aria-controls="collapseOne58">
                                        HELİKOPTER TASARIM YARIŞMASI
                                    </button>
                                    <i class="fas fa-chevron-down" data-toggle="collapse" data-target="#collapseOne58" aria-expanded="true" aria-controls="collapseOne58"></i>
                                </h2>
                            </div>

                            <div id="collapseOne58" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="accordion-menu-2">
                                        <p> </p>
                                        <p>
                                            <strong>S: </strong>Tasarımın genel özelliklerinde istenen yakıt kapasitesi değeri görev profili dahilinde mi sınırlıdır yoksa helikopter, görev profili için gerekenden daha fazla yakıt kapasitesine
                                            sahip olabilir mi?<br>
                                            <strong>C: </strong>Helikopter görev profilinde bahsedilen performans isterlerini gerçekleştirecek asgari yakıt miktarına sahip olmalıdır. Yakıt kapasitesi için bir üst limit bulunmamaktadır
                                            fakat yakıt miktarının nasıl belirlendiği bilimsel gerekçelerle açıklanmalıdır.&nbsp;
                                        </p>

                                        <p>
                                            <strong>S: </strong>Raporda alt sistemleri yazarken kullanacağımız tüm (sensörler, parçalar, gösterge sistemleri vb.) parçaları yazmamız gerekli midir?<br>
                                            <strong>C: </strong>Alt sistemlerdeki detay seviyesi yarışmacı takımlara bırakılmıştır. Helikopter bütün bir ürün olarak düşünüldüğünde verilecek alt sistem detayları helikopterin daha
                                            rekabetçi olmasını sağlayacak nitelikte olmalıdır.&nbsp;
                                        </p>

                                        <p>
                                            <strong>S:</strong> Helikopter tasarım yarışmasında " Azami kalkış ağırlığı 1500 kg’dan az olan hafif sınıf helikopterler bütün helikopter marketindeki toplam araç sayısına baskın gelmesine
                                            rağmen bu sınıftaki tasarım çeşitliliği sınırlıdır." cümlesinde belirtilen 1500 kg toplam ağırlığı mıdır?<br>
                                            <strong>C: </strong>Azami kalkış ağırlığı limiti bulunmamaktadır. Yukarıdaki ifade yarışmada tasarlanması istenen helikoptere benzer rakip ürünlerin yaklaşık ağırlık sınıfını belirtmek
                                            amacıyla kullanılmıştır.&nbsp;
                                        </p>

                                        <p>
                                            <strong>S: </strong>ÖTR Şablonunda "Helikopterin boş ve azami kalkış ağırlığı kestirim değerleri verilmelidir." şeklindeki ibarede ağırlık değerleri için kestirim ağırlık hesaplaması yapmalı
                                            mıyız yoksa tahmini bir değer mi atamalıyız?&nbsp;<br>
                                            <strong>C: </strong>Raporda verilen tüm sayısal değerler bilimsel yaklaşımlarla temellendirilmelidir.
                                        </p>

                                        <p><strong>S: </strong>Görev profilinde belirtilen 500ft/dk olan tırmanma hızı helikopter performasına göre değişiklik gösterebilir mi yoksa zorunlu bir performans isteri midir?</p>

                                        <p>
                                            <strong>C: </strong>Görev profilinde geçen 500 ft/dk olan tırmanma hızı helikopterin görev profilinde belirtilen uçuş koşullarında sağlaması gereken tırmanış hızını temsil etmektedir. Helikopter
                                            performansı daha yüksek hızları sağlıyor olabilir fakat istenen koşullarda asgari değer olan 500ft/dk hızının sağlanması gerekmektedir. Helikopter bu gereksinimi (500 ft/dk) sağlayacak
                                            şekilde tasarlanmalıdır.
                                        </p>

                                        <p>
                                            <strong>S: </strong>Şartnameye göre geleneksel , tek ana ve kuyruk rotorlu olması isteniyor. Ancak kuyruk rotoru olarak fenestron tipi veya açık pervaneli rotor vs. olarak belirtilmiyor.
                                            &nbsp;Geleneksel olarak belirtilirken söylenmek istenen kuyruk için sadece açık pervaneli rotor tipini mi kullanmamız gerektiğidir ? &nbsp;Yoksa kuyruk rotor tipi olarak ne kullanacağımız
                                            bizim seçimimizde mi ?
                                        </p>

                                        <p>
                                            <strong>C:</strong>Kuyruk rotor tipi olarak konvansiyonel kuyruk rotoru ya da fenestron tipi kuyruk rotoru kullanılabilir. Helikopterler bir ana rotor ve bir kuyruk rotoru içerecek şekilde
                                            tasarlanmalıdır.
                                        </p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="card-collapse" data-toggle="collapse" data-target="#collapseOne53" aria-expanded="true" aria-controls="collapseOne53">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0 accordion-icon">
                                    <button class="btn btn-link sss" type="button" data-toggle="collapse" data-target="#collapseOne53" aria-expanded="true" aria-controls="collapseOne53">
                                        RAPORLAMA
                                    </button>
                                    <i class="fas fa-chevron-down" data-toggle="collapse" data-target="#collapseOne53" aria-expanded="true" aria-controls="collapseOne53"></i>
                                </h2>
                            </div>

                            <div id="collapseOne53" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="accordion-menu-2">
                                        <p> </p>
                                        <p>
                                            <strong>S: Raporlamalar ile ilgili genel bir bilgi verir misiniz?</strong><br> C: Yarışma kapsamında toplam 2&nbsp;adet rapor hazırlanacaktır. Bunlar “Ön Tasarım Raporu” ve&nbsp;“Final Tasarım
                                            Raporu” şeklinde olacaktır.
                                        </p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="card-collapse" data-toggle="collapse" data-target="#collapseOne50" aria-expanded="true" aria-controls="collapseOne50">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0 accordion-icon">
                                    <button class="btn btn-link sss" type="button" data-toggle="collapse" data-target="#collapseOne50" aria-expanded="true" aria-controls="collapseOne50">
                                        MADDİ DESTEK
                                    </button>
                                    <i class="fas fa-chevron-down" data-toggle="collapse" data-target="#collapseOne50" aria-expanded="true" aria-controls="collapseOne50"></i>
                                </h2>
                            </div>

                            <div id="collapseOne50" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="accordion-menu-2">
                                        <p> </p>
                                        <p><strong>S: Teknoloji yarışmasına başvuru yaptığımda, destek talebine de başvuru yapmış&nbsp;oluyor muyum, destekler hakkında bilgi verebilir misiniz ?</strong></p>

                                        <p>
                                            <br> C:&nbsp;Hayır. Yarışmaya başvurmak ile, başvurduğu yarışma ile alakalı olarak destek talebinde bulunmak birbirinden farklı şeylerdir. Takımların destek talepleri rapor yükleme esnasında
                                            açılacak olan sayfa üzerinden alınacaktır. Gerçekleştirilen destek başvuruları, ilgili yarışmanın Danışma ve Değerlendirme Kurulu tarafından değerlendirmeye tabi tutulacak ve uygun görülen
                                            takımlara destek verilecektir. Destek başvurusunda bulunmak, kesin olarak destek alınacağı manasına gelmemektedir. Maddi destek başvurularından sonra destek almaya hak kazanan takımlardan
                                            IBAN NO istenecek ve destek miktarı hesaplara yatırılacaktır. Maddi destek almaya hak kazanan takımlara eşit miktarda destek sağlanması söz konusu değildir. Destek miktarları ve alınacak
                                            malzemelerin değerlendirilmesinin ardından bir üst limit belirlenecektir. Takımların talep listeleri ve raporları değerlendirilerek verilecek maddi destek miktarı belirlenecektir. Ancak
                                            tasarım yarışmalarında maddi destek sağlanmamaktadır.
                                        </p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="card-collapse" data-toggle="collapse" data-target="#collapseOne49" aria-expanded="true" aria-controls="collapseOne49">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0 accordion-icon">
                                    <button class="btn btn-link sss" type="button" data-toggle="collapse" data-target="#collapseOne49" aria-expanded="true" aria-controls="collapseOne49">
                                        KONAKLAMA
                                    </button>
                                    <i class="fas fa-chevron-down" data-toggle="collapse" data-target="#collapseOne49" aria-expanded="true" aria-controls="collapseOne49"></i>
                                </h2>
                            </div>

                            <div id="collapseOne49" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="accordion-menu-2">
                                        <p> </p>
                                        <p><strong>S: KYK'da konaklama ve ulaşım formunda kayıtlı olmayan kişiler ücreti ödenerek kalabilecek mi?</strong><br> C: Formda kayıtlı olmayan kişiler ücret ödese dahi KYK'da kalamayacaktır.</p>

                                        <p>
                                            <br>
                                            <strong>S: Konaklamayı kendi imkanlarımızla gerçekleştirebilir miyiz?</strong><br> C: Hayır, teknofest bünyesinde bulunan herkes belirlenen yerlerde kalmak zorundadır.
                                        </p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <div class="card-collapse" data-toggle="collapse" data-target="#collapseOne47" aria-expanded="true" aria-controls="collapseOne47">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0 accordion-icon">
                                    <button class="btn btn-link sss" type="button" data-toggle="collapse" data-target="#collapseOne47" aria-expanded="true" aria-controls="collapseOne47">
                                        ULAŞIM
                                    </button>
                                    <i class="fas fa-chevron-down" data-toggle="collapse" data-target="#collapseOne47" aria-expanded="true" aria-controls="collapseOne47"></i>
                                </h2>
                            </div>

                            <div id="collapseOne47" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="accordion-menu-2">
                                        <p> </p>
                                        <p>
                                            <strong>S: Ulaşım güzergahımızı kendimiz belirleyebiliyor muyuz?</strong><br> C: ilgili form süreleri dolduktan sonra yarışmacılar aranarak bilet bilgileri ve çeşidi hakkında bilgilendirme
                                            yapılacaktır, ulaşım bizim belirlediğimiz güzergah üzerinden olacaktır.
                                        </p>

                                        <p>
                                            <br>
                                            <strong>S:Yarismaya kendi aracimizla gelmek istersek maddi destek saglanma durumu soz konusu olabilir mi ?</strong><br> C:Ulasim destegi sadece bilet olarak saglanmaktadir. Ek olarak
                                            yakit vs. destekler saglanmayacaktir.
                                        </p>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>







                    </div>
                </div>
            </div>
        </div>
    </div>
}
