<!DOCTYPE html>
<!-- saved from url=(0050)https://www.teknofest.org/yarisma-detaylar-35.html -->
<html lang="tr">
<link type="text/css" rel="stylesheet" id="dark-mode-custom-link">
<link type="text/css" rel="stylesheet" id="dark-mode-general-link">
<style lang="en" type="text/css" id="dark-mode-custom-style"></style>
<style lang="en" type="text/css" id="dark-mode-native-style"></style>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Required meta tags -->

    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport">
    <!-- CSS -->
    <link rel="stylesheet" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/style.css">
    <link rel="stylesheet" href="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="https://www.teknofest.org/src/img/favicon.ico" rel="icon" data-n-head="true" sizes="16x16" type="image/png">
    <title>Helikopter Tasarım Yarışması | TEKNOFEST</title>
    <meta name="keywords" content="Helikopter Tasarım Yarışması, teknofest,milliteknoloıjihamlesi,Teknoloji,İnsansız,Robotik,Roket,iha,Yapay Zeka,Technology,Humanity,Robotic,Rocket,Uav, Savaşan İHA">
    <meta name="description" content="Helikopter Tasarım Yarışması, Havacılık, Uzay ve Teknoloji Festivali. Türkiye&#39;nin Ayakları Yere Basmayan Festivali.">
    <script type="text/javascript" async="" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/analytics.js.indir"></script>
    <script type="text/javascript" async="" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/recaptcha__tr.js.indir" crossorigin="anonymous" integrity="sha384-/+2V9oKvrp/HpFsv9q1kH42qSxpFBIBUCQg2IDWXutUCwDqD6lkW+LqHzy9QPV+O"></script>
    <script src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/api.js.indir"></script>
    <style>
        .finalist-new-head {
            width: 100%;
            background-color: #F05022;
            padding: 10px 20px;
        }
        
        .finalist-new-head h3 {
            margin: 0;
        }
        
        .finalist-table-content {
            position: relative;
            width: 100%;
        }
        
        .finalist-data {
            width: 100%;
            height: 222px;
            overflow: hidden;
        }
        
        label.finalist-data-buton-new {
            position: absolute;
            top: 100%;
            width: 100%;
            z-index: 999;
            text-align: center;
            font-family: 'poppinsbold';
            font-size: 16px;
            margin-top: 15px;
            border: solid 1px #ccc;
            padding: 10px 15px;
            cursor: pointer;
        }
        
        input.finalist-inpw {
            display: none;
        }
        
        label.finalist-data-buton-new:after {
            content: "Daha Fazla Göster";
            text-align: center;
            width: 100%;
        }
        
        input.finalist-inpw:checked+label.finalist-data-buton-new:after {
            content: "Daha Az Göster";
        }
        
        input.finalist-inpw:checked~div {
            height: 100%;
        }
        /**2.ci**/
        
        .finalist-new-head2 {
            width: 100%;
            background-color: #F05022;
            padding: 10px 20px;
        }
        
        .finalist-new-head2 h3 {
            margin: 0;
        }
        
        .finalist-table-content2 {
            position: relative;
            width: 100%;
            margin-top: 100px;
        }
        
        .finalist-data2 {
            width: 100%;
            height: 222px;
            overflow: hidden;
        }
        
        label.finalist-data-buton-new2 {
            position: absolute;
            top: 100%;
            width: 100%;
            text-align: center;
            font-family: 'poppinsbold';
            font-size: 16px;
            margin-top: 15px;
            margin-bottom: 20px;
            border: solid 1px #ccc;
            padding: 10px 15px;
            cursor: pointer;
        }
        
        input.finalist-inpw2 {
            display: none;
        }
        
        label.finalist-data-buton-new2:after {
            content: "Daha Fazla Göster";
            text-align: center;
            width: 100%;
        }
        
        input.finalist-inpw2:checked+label.finalist-data-buton-new2:after {
            content: "Daha Az Göster";
        }
        
        input.finalist-inpw2:checked~div {
            height: 100%;
        }
        /**3.cü**/
        
        .finalist-new-head3 {
            width: 100%;
            background-color: #F05022;
            padding: 10px 20px;
        }
        
        .finalist-new-head3 h3 {
            margin: 0;
        }
        
        .finalist-table-content3 {
            position: relative;
            width: 100%;
            margin-top: 100px;
            margin-bottom: 100px;
        }
        
        .finalist-data3 {
            width: 100%;
            height: 222px;
            overflow: hidden;
        }
        
        label.finalist-data-buton-new3 {
            position: absolute;
            top: 100%;
            width: 100%;
            text-align: center;
            font-family: 'poppinsbold';
            font-size: 16px;
            margin-top: 15px;
            margin-bottom: 20px;
            border: solid 1px #ccc;
            padding: 10px 15px;
            cursor: pointer;
        }
        
        input.finalist-inpw3 {
            display: none;
        }
        
        label.finalist-data-buton-new3:after {
            content: "Daha Fazla Göster";
            text-align: center;
            width: 100%;
        }
        
        input.finalist-inpw3:checked+label.finalist-data-buton-new3:after {
            content: "Daha Az Göster";
        }
        
        input.finalist-inpw3:checked~div {
            height: 100%;
        }
        /**Galeri Head**/
        
        .galeri-new-head {
            background-color: #F05022;
            width: 100%;
            height: 60px;
            padding: 15px;
            display: flex;
            align-items: center;
        }
        
        .galeri-new-head h3 {
            margin: 0;
            color: #fff !important;
        }
    </style>
    <style>
        .flipX video::-webkit-media-text-track-display {
            transform: matrix(-1, 0, 0, 1, 0, 0) !important;
        }
        
        .flipXY video::-webkit-media-text-track-display {
            transform: matrix(-1, 0, 0, -1, 0, 0) !important;
        }
        
        .flipXYX video::-webkit-media-text-track-display {
            transform: matrix(1, 0, 0, -1, 0, 0) !important;
        }
    </style>
    <script type="text/javascript" src="chrome-extension://aggiiclaiamajehmlfpkjmlbadmkledi/popup.js" async=""></script>
    <script type="text/javascript" src="chrome-extension://aggiiclaiamajehmlfpkjmlbadmkledi/tat_popup.js" async=""></script>
</head>

<body>
    @RenderBody();
</body><template id="transover-popup-template"></template><template id="transover-tat-popup-template"></template>

</html>