<!DOCTYPE html>
<!-- saved from url=(0050)https://www.teknofest.org/yarisma-detaylar-35.html -->
<html lang="tr">
<link type="text/css" rel="stylesheet" id="dark-mode-custom-link">
<link type="text/css" rel="stylesheet" id="dark-mode-general-link">
<style lang="en" type="text/css" id="dark-mode-custom-style"></style>
<style lang="en" type="text/css" id="dark-mode-native-style"></style>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Required meta tags -->

    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=0.6667, user-scalable=no" name="viewport">
    <!-- CSS -->
    <link rel="stylesheet" href="~/originResources/style.css">
    <link rel="stylesheet" href="~/originResources/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link href="https://www.teknofest.org/src/img/favicon.ico" rel="icon" data-n-head="true" sizes="16x16" type="image/png">
    <title>Helikopter Tasarım Yarışması | TEKNOFEST</title>
    <meta name="keywords" content="Helikopter Tasarım Yarışması, teknofest,milliteknoloıjihamlesi,Teknoloji,İnsansız,Robotik,Roket,iha,Yapay Zeka,Technology,Humanity,Robotic,Rocket,Uav, Savaşan İHA">
    <meta name="description" content="Helikopter Tasarım Yarışması, Havacılık, Uzay ve Teknoloji Festivali. Türkiye&#39;nin Ayakları Yere Basmayan Festivali.">
 
    <style>
        .flipX video::-webkit-media-text-track-display {
            transform: matrix(-1, 0, 0, 1, 0, 0) !important;
        }
        
        .flipXY video::-webkit-media-text-track-display {
            transform: matrix(-1, 0, 0, -1, 0, 0) !important;
        }
        
        .flipXYX video::-webkit-media-text-track-display {
            transform: matrix(1, 0, 0, -1, 0, 0) !important;
        }
    </style>
    <script type="text/javascript" src="chrome-extension://aggiiclaiamajehmlfpkjmlbadmkledi/popup.js" async=""></script>
    <script type="text/javascript" src="chrome-extension://aggiiclaiamajehmlfpkjmlbadmkledi/tat_popup.js" async=""></script>
</head>

<body>
    ﻿<header class="">
    <div class="container-fluid space">
        <div class="row">
            <div class="col-md-2 col-12 logo1">
                <a href="http://teknofest.org/"> <img class="logo img-fluid" src="~/originResources/logo.svg"></a>
            </div>
            <div class="col-md-10">
                <!--Subnav-->
                <div class="col-md-12">
                    <style>
                        .subnav {
                            display: flex;
                            justify-content: flex-end;
                        }

                        header.sticky {
                            height: 120px;
                        }
                    </style>
                    <div class="subnav">




                        <!--<a href="takvim/2021/4_5924778784921225907.pdf"><button class="btn btn-warning mb-3" style="background-color:#F05022;color:#fff;border:0;border-radius: 5.44px;font-family: 'poppinsbold';font-size: 12px;padding:10px;margin:0;">Etkinlik Takvimi</button></a>-->
                        <!--<a href="upload/etkinlik-haritasi-TR-2021.pdf"><button class="btn btn-warning mb-3" style="background-color:#F05022;color:#fff;border:0;border-radius: 5.44px;font-family: 'poppinsbold';font-size: 12px;padding:10px;margin:0 0 0 3px;">Etkinlik Haritası</button></a>-->
                        <!--<a href="pdfler/ulasim-haritasi-2021-final.pdf"><button class="btn btn-warning mb-3" style="cursor:pointer;background-color:#F05022;color:#fff;border:0;border-radius: 5.44px;font-family: 'poppinsbold';font-size: 12px;padding:10px;margin:0 0 0 3px;">Nasıl Ulaşırım?</button></a>-->
                        <div class="toggle-link"></div>
                    </div>
                </div>
                <!--Subnav End-->
                <div class="col-md-12 d-none d-md-block">
                    <style>
                        .tooltip-inner {
                            background-color: #F05022;
                            font-family: 'poppinsbold';
                            font-weight: 500;
                            font-size: 12px;
                            padding: 13px 15px 10px 15px;
                            border-radius: 15px;
                        }

                        .social-box {
                            border: 1px solid rgba(164, 164, 164, 0.10);
                            box-shadow: 0 2px 11px 0 rgba(164, 164, 164, 0.10);
                        }

                            .social-box:hover {
                                box-shadow: 0 2px 11px 0 rgba(164, 164, 164, 0.10);
                            }

                        .canli button.canli-buton {
                            width: 100px;
                            height: 45px;
                            background-color: #F05022;
                            border-radius: 6px;
                            border: 0;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-box-pack: center;
                            -ms-flex-pack: center;
                            justify-content: center;
                            margin: 0 5px;
                            -webkit-transition: 0.4s;
                            transition: 0.4s;
                            padding: 0;
                            font-family: 'poppinsbold';
                            font-weight: 500;
                            font-size: 12px;
                            line-height: auto;
                            color: #fff;
                        }

                            .canli button.canli-buton:hover {
                                -webkit-transform: scale(1.09);
                                transform: scale(1.09);
                                -webkit-transition: 0.4s;
                                -webkit-transition: 0.1s;
                                transition: 0.1s;
                            }

                        .social-media-content {
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            justify-content: flex-end;
                            margin: 0 20px 20px 0;
                        }
                    </style>
                    <div class="social-media-content" style="">
                        <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Twitter&#39;da Takip Et">
                            <a href="https://twitter.com/teknofest" target="_blank">
                                <img src="~/originResources/twitter.svg" class="img-fluid" alt="Twitter">
                            </a>
                        </div>
                        <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Instagram&#39;da Takip Et">
                            <a href="https://www.instagram.com/teknofest/" target="_blank">
                                <img src="~/originResources/instagram.svg" class="img-fluid" alt="Instagram">
                            </a>
                        </div>
                        <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Facebook&#39;da Takip Et">
                            <a href="https://www.facebook.com/teknofestist/" target="_blank">
                                <img src="~/originResources/facebook.svg" class="img-fluid" alt="Facebook">
                            </a>
                        </div>
                        <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Linkedin&#39;de Takip Et">
                            <a href="https://www.linkedin.com/company/teknofest" target="_blank">
                                <img src="~/originResources/linkedin.svg" class="img-fluid" alt="Linkedin">
                            </a>
                        </div>
                        <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Youtube&#39;da Takip Et">
                            <a href="http://www.youtube.com/c/TEKNOFEST2021" target="_blank">
                                <img src="~/originResources/youtube.svg" class="img-fluid" alt="Youtube">
                            </a>
                        </div>
                        ---->
                        <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Telegram&#39;da Takip Et">
                            <a href="https://t.me/TeknofestIstanbul" target="_blank">
                                <img src="~/originResources/telegram.svg" class="img-fluid" alt="Telegram">
                            </a>
                        </div>
                        <div class="social-box">
                            <a href="https://www.teknofest.org/en" target="_blank">
                                ENG
                            </a>
                        </div>
                    </div>
                    <script>
                        $(function() {
                            $('[data-toggle="tooltip"]').tooltip()
                        })
                    </script>
                </div>
                <div class="col-md-12">
                    <div class="navicon-bg open"></div>
                    <div class="nav-icon" id="nav-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="main-menu">
                        <nav role="navigation" class="menu" id="menu">
                            <ul>
                                <li>
                                    <a href="https://www.teknofest.org/index.html">Ana Sayfa</a>
                                </li>
                                <li class="subnav">
                                    <a href="https://www.teknofest.org/yarisma-detaylar-35.html#">Biz Kimiz</a>
                                    <ul>
                                        <li><a href="https://www.teknofest.org/hakkimizda.php">Hakkımızda</a></li>
                                        <li><a href="https://www.teknofest.org/duzenleyici-kuruluslar.html">Düzenleyici ve Paydaş Kurumlar</a></li>
                                        <li><a href="https://www.teknofest.org/basin-odasi.html">Basın Odası</a></li>
                                    </ul>
                                    <div class="toggle-link"></div>
                                </li>
                                <li class="subnav">
                                    <a href="https://www.teknofest.org/yarisma-detaylar-35.html#">Etkinlikler</a>
                                    <ul>
                                        <li><a href="https://www.teknofest.org/gosteriler.html">Gösteriler</a></li>
                                        <li><a href="https://www.teknofest.org/aktiviteler.html">Aktiviteler</a></li>
                                    </ul>
                                    <div class="toggle-link"></div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    @RenderBody();
</body><template id="transover-popup-template"></template><template id="transover-tat-popup-template"></template>

</html>