@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="tab-pane fade" id="v-pills-arsiv" role="tabpanel" aria-labelledby="v-pills-arsiv-tab">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="accordion" id="accordionExample">
                        <div class="card-collapse" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0 accordion-icon">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        2018
                                    </button>
                                    <i class="fas fa-chevron-down" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></i>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="accordion-menu-1 d-flex justify-content-between">
                                        <a href="https://www.teknofest.org/index.html">
                                            <p>Finalist Takımlar</p>
                                        </a>
                                        <a href="https://www.teknofest.org/yarisma-detaylar-35.html#">
                                            <p>Detaylar İçin Tıklayın.</p>
                                        </a>
                                    </div>
                                    <div class="accordion-menu-2 d-flex justify-content-between">
                                        <a href="https://www.teknofest.org/index.html">
                                            <p>Raporlar</p>
                                        </a>
                                        <a href="https://www.teknofest.org/yarisma-detaylar-35.html#">
                                            <p>Detaylar İçin Tıklayın.</p>
                                        </a>
                                    </div>
                                    <div class="accordion-menu-1 d-flex justify-content-between">
                                        <a href="https://www.teknofest.org/index.html">
                                            <p>Dereceye Giren Takımlar</p>
                                        </a>
                                        <a href="https://www.teknofest.org/yarisma-detaylar-35.html#">
                                            <p>Detaylar İçin Tıklayın.</p>
                                        </a>
                                    </div>
                                    <div class="accordion-menu-2 d-flex justify-content-between">
                                        <a href="https://www.teknofest.org/index.html">
                                            <p>Galeri</p>
                                        </a>
                                        <a href="https://www.teknofest.org/yarisma-detaylar-35.html#">
                                            <p>Detaylar İçin Tıklayın.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-collapse" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0 accordion-icon">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        2019
                                    </button>
                                    <i class="fas fa-chevron-down" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"></i>

                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <div class="accordion-menu-1 d-flex justify-content-between">
                                        <a href="https://www.teknofest.org/index.html">
                                            <p>Finalist Takımlar</p>
                                        </a>
                                        <a href="https://www.teknofest.org/yarisma-detaylar-35.html#">
                                            <p>Detaylar İçin Tıklayın.</p>
                                        </a>
                                    </div>
                                    <div class="accordion-menu-2 d-flex justify-content-between">
                                        <a href="https://www.teknofest.org/index.html">
                                            <p>Raporlar</p>
                                        </a>
                                        <a href="https://www.teknofest.org/yarisma-detaylar-35.html#">
                                            <p>Detaylar İçin Tıklayın.</p>
                                        </a>
                                    </div>
                                    <div class="accordion-menu-1 d-flex justify-content-between">
                                        <a href="https://www.teknofest.org/index.html">
                                            <p>Dereceye Giren Takımlar</p>
                                        </a>
                                        <a href="https://www.teknofest.org/yarisma-detaylar-35.html#">
                                            <p>Detaylar İçin Tıklayın.</p>
                                        </a>
                                    </div>
                                    <div class="accordion-menu-2 d-flex justify-content-between">
                                        <a href="https://www.teknofest.org/index.html">
                                            <p>Galeri</p>
                                        </a>
                                        <a href="https://www.teknofest.org/yarisma-detaylar-35.html#">
                                            <p>Detaylar İçin Tıklayın.</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>
                </div>
            </div>
        </div>
    </div>

