@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
    <div class="tab-pane fade" id="v-pills-finalist" role="tabpanel" aria-labelledby="v-pills-finalist-tab">
        <div class="container">

            <style>
                /**2.ci**/

                .finalist-new-head0 {
                    width: 100%;
                    background-color: #F05022;
                    padding: 10px 20px;
                }

                    .finalist-new-head0 h3 {
                        margin: 0;
                    }

                .finalist-table-content0 {
                    position: relative;
                    width: 100%;
                    margin-bottom: 100px;
                }

                .finalist-data0 {
                    width: 100%;
                    height: 222px;
                    overflow: hidden;
                }

                label.finalist-data-buton-new0 {
                    position: absolute;
                    top: 100%;
                    width: 100%;
                    text-align: center;
                    font-family: 'poppinsbold';
                    font-size: 16px;
                    margin-top: 15px;
                    margin-bottom: 20px;
                    border: solid 1px #ccc;
                    padding: 10px 15px;
                    cursor: pointer;
                }

                input.finalist-inpw0 {
                    display: none;
                }

                label.finalist-data-buton-new0:after {
                    content: "Daha Fazla Göster";
                    text-align: center;
                    width: 100%;
                }

                input.finalist-inpw0:checked + label.finalist-data-buton-new0:after {
                    content: "Daha Az Göster";
                }

                input.finalist-inpw0:checked ~ div {
                    height: 100%;
                }
                /**Galeri Head**/
            </style>

            <div class="row">


                <div class="finalist-table-content0">

                    <input id="ch0" class="finalist-inpw0" type="checkbox">
                    <label for="ch0" class="finalist-data-buton-new0"></label>
                    <div class="finalist-data0">
                        <div class="finalist-new-head">
                            <h3 style="color: #fff;">2020</h3>
                        </div>

                        <div class="team-data" style="width: 100%; margin-top: 0;">


                            <table class="table" style="color: #183059; width: 100%;">
                                <thead>
                                    <tr>
                                        <th scope="col" width="40%">Sıra</th>
                                        <th scope="col">Takım Adı</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>ITU BeeCopter</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>METUChopper</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>HELLY-800</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>EİMT(Eklemeli İmalat ve 3B Modelleme Topluluğu)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>MERKUT</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>TULPAR</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>Aerospace and Aviation Resarch Club</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>Dinamik</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">9</th>
                                        <td>SGR-TECH</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">10</th>
                                        <td>UTEK</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">11</th>
                                        <td>HUMMINGBIRDS</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>



                </div>


            </div>






        </div>


    </div>
    <div class="tab-pane fade" id="v-pills-dereceler" role="tabpanel" aria-labelledby="v-pills-dereceler-tab">


        <div class="team-data" style="margin-top: 0;">

            <div class="galeri-new-head">
                <h3>2021</h3>
            </div>

            <table class="table" style="color: #183059;">
                <thead>
                    <tr>
                        <th scope="col" width="40%">Derece</th>
                        <th scope="col">Takım Adı</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1-</th>
                        <td>VEGA HELİKOPTER TAKIMI</td>
                    </tr>
                    <tr>
                        <th scope="row">2-</th>
                        <td>NEU-CFD AVIATION</td>
                    </tr>
                    <tr>
                        <th scope="row">3-</th>
                        <td>AE-ZION</td>
                    </tr>
                </tbody>
            </table>


            <div class="galeri-new-head">
                <h3>2020</h3>
            </div>

            <table class="table" style="color: #183059;">
                <thead>
                    <tr>
                        <th scope="col" width="40%">Derece</th>
                        <th scope="col">Takım Adı</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1.</th>
                        <td>ITU BeeCopter</td>
                    </tr>
                    <tr>
                        <th scope="row">2.</th>
                        <td>METUChopper</td>
                    </tr>
                    <tr>
                        <th scope="row">3.</th>
                        <td>HELLY-800</td>
                    </tr>
                </tbody>
            </table>






        </div>
        <style>
            .yarisma-space-new {
                width: 100%;
                height: 50px;
            }

            .galeri a.example-image-link {
                padding: 0;
            }
        </style>







        <div class="yarisma-space-new"></div>
    </div>





    <div class="tab-pane fade" id="v-pills-oduller" role="tabpanel" aria-labelledby="v-pills-oduller-tab">
        <h3>Yarışmada verilecek olan ödüller aşağıdaki gibidir:</h3> <br>
        <p>
        </p>
        <p><strong>HELİKOPTER TASARIM YARIŞMASI ÖDÜL MİKTARLARI</strong></p>

        <p>
            <br>
            <strong>Birinci: </strong>30.000.00 ₺
        </p>

        <p><strong>İkinci:</strong>&nbsp;20.000.00 ₺</p>

        <p><strong>Üçüncü:</strong>&nbsp;10.000.00 ₺</p>

        <div id="accelSnackbar" style="left:50%; top:50px; transform:translate(-50%, 0px)">&nbsp;</div>
        <br>
        <p></p>
        <style>
            .yarisma-space-new {
                width: 100%;
                height: 50px;
            }

            .galeri a.example-image-link {
                padding: 0;
            }
        </style>

        <div class="yarisma-space-new"></div>
    </div>
}
