@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="announcement-content">
                    <div class="announcement-head">
                        <h3>Duyurular</h3>
                        <a href="https://www.teknofest.org/duyurular.html"> <button type="button" class="btn btn-outline-primary">Tüm Duyurular İçin Tıklayın</button></a>
                    </div>
                </div>

                <div class="announcement-container">
                    <div class="announcement-item">

                        <div class="announcement-item-detail">
                            <h3>Teknofest 2021 Uluslararası İnsansız Hava Aracı Yarışması Final Sonuçları Ve Sıralamaları Açıklanmıştır!</h3>
                            <p>TEKNOFEST 2021 Uluslararası İnsansız Hava Aracı Yarışması Final sonuçları açıklanmıştır! Takımların almış oldukları puanlar ve sıralamaları aşağıdaki gibidir.</p>
                            <a href="https://www.teknofest.org/duyurular-311.html">
                                <p class="buton"><i class="fas fa-long-arrow-alt-right"></i> Detaylar</p>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="announcement-container">
                    <div class="announcement-item">

                        <div class="announcement-item-detail">
                            <h3>Teknofest 2021 Liselerarası İnsansız Hava Aracı Yarışması Final Sonuçları Ve Sıralamaları Açıklanmıştır!</h3>
                            <p>TEKNOFEST 2021 Liselerarası İnsansız Hava Aracı Yarışması Final sonuçları açıklanmıştır! Takımların almış oldukları puanlar ve sıralamaları aşağıdaki gibidir.</p>
                            <a href="https://www.teknofest.org/duyurular-310.html">
                                <p class="buton"><i class="fas fa-long-arrow-alt-right"></i> Detaylar</p>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="announcement-container">
                    <div class="announcement-item">

                        <div class="announcement-item-detail">
                            <h3>Teknofest 2021 Roket Yarışması Final Sonuçları Ve Sıralamaları Açıklanmıştır!</h3>
                            <p>TEKNOFEST 2021 Roket Yarışması Final sonuçları açıklanmıştır! Takımların almış oldukları puanlar ve sıralamaları aşağıdaki gibidir.</p>
                            <a href="https://www.teknofest.org/duyurular-309.html">
                                <p class="buton"><i class="fas fa-long-arrow-alt-right"></i> Detaylar</p>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="announcement-container">
                    <div class="announcement-item">

                        <div class="announcement-item-detail">
                            <h3>Teknofest 2021 Jet Motor Tasarım Yarışması Final Sonuçları Ve Sıralamaları Açıklanmıştır!</h3>
                            <p>TEKNOFEST 2021 Jet Motor Tasarım Yarışması Final sonuçları açıklanmıştır! Takımların almış oldukları puanlar ve sıralamaları aşağıdaki gibidir.</p>
                            <a href="https://www.teknofest.org/duyurular-308.html">
                                <p class="buton"><i class="fas fa-long-arrow-alt-right"></i> Detaylar</p>
                            </a>
                        </div>
                    </div>

                </div>

                <div class="announcement-container">
                    <div class="announcement-item">

                        <div class="announcement-item-detail">
                            <h3>Teknofest 2021 Liselerarası Efficiency Challenge Elektrikli Araç Yarışları Final Sonuçları Ve Sıralamaları Açıklanmıştır!</h3>
                            <p>TEKNOFEST 2021 Liselerarası Efficiency Challenge Elektrikli Araç Yarışları Final sonuçları açıklanmıştır! Takımların almış oldukları puanlar ve sıralamaları aşağıdaki gibidir.</p>
                            <a href="https://www.teknofest.org/duyurular-307.html">
                                <p class="buton"><i class="fas fa-long-arrow-alt-right"></i> Detaylar</p>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    </div>




    <div class="container-fluid footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><a href="https://www.teknofest.org/index.html">Anasayfa</a></li>
                        <li><a href="https://www.teknofest.org/duyurular.html">Duyurular</a></li>
                        <li><a href="https://www.teknofest.org/yarismalar2.php">Yarışmalar</a></li>
                        <li><a href="https://www.teknofest.org/sss.html">S.S.S.</a></li>
                        <li><a href="https://www.teknofest.org/galeri.html">Galeri</a></li>
                        <li><a href="https://www.teknofest.org/kvkk.html">KVKK Aydınlatma Metni</a></li>
                        <li><a href="https://www.teknofest.org/iletisim.html">İletişim</a></li>
                    </ul>
                    <div class="social-footer">
                        <div class="social-box" data-toggle="tooltip" data-placement="top" title="Bizi Twitter&#39;da Takip Et">
                            <a href="https://twitter.com/teknofest" target="_blank">
                                <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/twitter.svg" class="img-fluid" alt="Twitter">
                            </a>
                        </div>
                        <div class="social-box" data-toggle="tooltip" data-placement="top" title="Bizi Instagram&#39;da Takip Et">
                            <a href="https://www.instagram.com/teknofest/" target="_blank">
                                <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/instagram.svg" alt="Instagram">
                            </a>
                        </div>
                        <div class="social-box" data-toggle="tooltip" data-placement="top" title="Bizi Facebook&#39;da Takip Et">
                            <a href="https://www.facebook.com/teknofestist/" target="_blank">
                                <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/facebook.svg" alt="Facebook">
                            </a>
                        </div>
                        <div class="social-box" data-toggle="tooltip" data-placement="top" title="Bizi Linkedin&#39;de Takip Et">
                            <a href="https://www.linkedin.com/company/teknofest" target="_blank">
                                <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/linkedin.svg" alt="Facebook">
                            </a>
                        </div>
                        <div class="social-box" data-toggle="tooltip" data-placement="top" title="Bizi Youtube&#39;da Takip Et">
                            <a href="http://www.youtube.com/c/TEKNOFEST2021" target="_blank">
                                <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/youtube.svg" alt="Facebook">
                            </a>

                        </div>
                        <div class="social-box" data-toggle="tooltip" data-placement="bottom" title="Bizi Telegram&#39;da Takip Et">
                            <a href="https://t.me/TeknofestIstanbul" target="_blank">
                                <img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/telegram.svg" class="img-fluid" alt="Telegram">
                            </a>
                        </div>
                    </div>
                    <!--            <div class="right" style="-->
                    <!--text-align: right;">  <a href="http://turkiyeteknolojitakimi.org/pdfler/T3Vakfi-KVKK-Aydinlatma-Metni.pdf" target="_blank" style="color:white;">T3 Vakfı KVKK</a></div>-->

                    <div class="footer-copyright">
                        <p>2021 TEKNOFEST Inc. All rights Reserved ©</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
}
