@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="tab-pane fade" id="v-pills-video" role="tabpanel" aria-labelledby="v-pills-video-tab">

        <h3 style="margin-bottom: 20px;">
        </h3>


        <div class="container">
            <div class="row">



            </div>


        </div>

        <h3 style="margin-bottom: 20px;">
            Yarışma Videoları

        </h3>

        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="d-flex justify-content-center galeri">

                    </div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/TOlJFUYXfoY.html" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                    </div> <br>
                </div>






            </div>


        </div>

        