@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    <div class="tab-pane fade" id="v-pills-adres" role="tabpanel" aria-labelledby="v-pills-adres-tab">
        <div class="competition-detail" style="margin-top: 0;">
            <h3>Yarışma Yeri Ve Tarihi</h3>
            <div><img src="~/Helikopter Tasarım Yarışması _ TEKNOFEST_files/936031500012a066cf883fe23d2698c2.jpg" class="img-fluid" border="0"></div>
            <p>
            </p>
            <div align="justify" style="text-align:justify; margin-top: -19px;   border-radius: 10px; ">
                <a style="margin-left:10px;">
                    <font face="tahoma" size="4" color="black">
                        HELİKOPTER TASARIM YARIŞMASI Atatürk Havalimanı'da 21 - 26 Eylül 2021 tarihinde gerçekleşecektir.
                    </font>
                </a>

                <br>




            </div>
        </div>

    </div>



}
